<script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function(){
        //表格校验开始
        jQuery("#formID").validationEngine();

        //日期选择定义
        $("#dateEnd").glDatePicker({
            cssName: "android",
            onChange: function(target, newDate){
                 target.val
                 (
                     newDate.getFullYear() + "-" +
                     (newDate.getMonth() + 1) + "-" +
                     newDate.getDate()
                 );
           }
        });
        $("#dateStart").glDatePicker({
            cssName: "android",
            onChange: function(target, newDate){
                 target.val
                 (
                     newDate.getFullYear() + "-" +
                     (newDate.getMonth() + 1) + "-" +
                     newDate.getDate()
                 );
           }
        });

        //自动补全
        $("#idSearchList").autocomplete("/homes/quick_search.json?type=",{ 
            max:12,
            delay:1,
            dataType: "json",
            parse: function(data) {  
              return $.map(eval(data), function(row) {  
                  return {  
                       data: row,  
                       result: row.name
                    }  
                });
            },  
            formatItem: function(item) {  
                return "<font color=green>" + item.id + "</font>&nbsp;(" + item.name + ")";  
            },  
        });
    });
</script>

<div class="wrapper col3">
  <div id="homecontent">
    <div class="fl_left">
      <div class="column2">
        <ul>
          <li>
            <form id="formID" class="formular" method="post" action="">
                产品分类<font readonly color="red">*</font>：<input class="validate[required[alertProduct]] "  name="product" id="product"></input>
                出发地 ：<input type="text"></input>
                目的地：<input type="text"></input>
                线路路线：<input type="text"></input>
                出团时间起：<input class="validate[custom[date]]" name="dateStart" id="dateStart"></input>
                出团时间止：<input class="validate[custom[date]]" name="dateEnd" id="dateEnd"></input>
                天数：<input type="text" readonly></input>
                价格：<input type="text" readonly></input>
                ======<br>
                线路编号：<input type="text" id="idSearchList" name="search"></input>
                线路名称：<input type="text"></input>
                品牌编号：<input type="text"></input>
            <button>快速查找</button>
            </form>
          </li>
        </ul>
        <br class="clear" />
      </div>
      <div class="column2">
        <h2>About This Free CSS Template !</h2>
        <img class="imgl" src="images/demo/imgl.gif" alt="" />
        <p>This is a W3C standards compliant Open Source free CSS template from <a href="http://www.88web.org/" title="免费网页模板">88web</a>.</p>
        <p>This template is distributed under a <a target="_blank" rel="nofollow" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0 Unported License</a>, which allows you to use and modify the template for both personal and commercial use when you keep the provided credit links in the footer. For more free css templates visit <a href="http://www.88web.org/">免费网页模板</a>.</p>
        <p>Morbitincidunt maurisque eros molest nunc anteget sed vel lacus mus semper. Anterdumnullam interdum eros dui urna consequam ac nisl nullam ligula vestassa.</p>
        <p>Condimentumfelis et amet tellent quisquet a leo lacus nec augue accumsan. Sagittislaorem dolor ipsum at urna et pharetium malesuada nis consectus odio.</p>
      </div>
    </div>
    <div class="fl_right">
      <h2>热门旅游</h2>
      <ul>
        <li>
          <div class="imgholder"><a href="#"><img src="images/demo/794_s.jpg" alt="" /></a></div>
          <p><strong><a href="#">沈阳、长春净月谭滑雪、吉林雾凇、哈尔滨双飞五天游BF</a></strong></p>
          <p>广州白云机场乘飞机飞往沈阳。抵达后游览清太祖努尔哈赤和清太宗皇太极修建并使用过，距今已有370余年历史的宫殿——沈阳故宫（自理60元/人，2小时）。它是中国历史上最后的一个封建王朝的发祥重地，也是清统一中国后东北地区政治经济中心，是中国现存仅次于北京故宫的最完整的宫殿建筑。参观历史名人奉系军阀首领“中华民国陆海军大元帅”张作霖和其长子“千古功...</p>
        </li>
        <li>
          <div class="imgholder"><a href="#"><img src="images/demo/1416097_1.m_s.jpg" alt="" /></a></div>
          <p><strong><a href="#">龙门天然温泉、开心农场休闲一天游-HX</a></strong></p>
            <p>A. 泡 亚洲罕见的天然山顶温泉 B. 玩 尽情玩转现实版的开心农场 C. 赏 国家级的龙门农民画博物馆 10:00 抵达景区参观国家级的龙门农民画博物馆，2010年，国家级农民画博物馆在惠州天然温泉度假村落成，龙门农民画，被誉为“岭南奇葩”，取材于古老的民间故事、传说和现实 生活，以其色彩明艳、图饱满、浓墨重彩、夸张变形的独特艺术风格，深刻反映出当地独特的文化和人民群众对生活的热爱</p>
        </li>
        <li>
          <div class="imgholder"><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></div>
          <p><strong><a href="#">Atnatis dolor tincidunt nulla</a></strong></p>
          <p>Feugiatrutrum rhoncus semper enim massa eu intesque ipsum velit orci dolorem. Atnatis dolor tincidunt nulla elit auctortis laculisi elit fauctortor natis loreet.</p>
        </li>
        <li>
          <div class="imgholder"><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></div>
          <p><strong><a href="#">Atnatis dolor tincidunt nulla</a></strong></p>
          <p>Feugiatrutrum rhoncus semper enim massa eu intesque ipsum velit orci dolorem. Atnatis dolor tincidunt nulla elit auctortis laculisi elit fauctortor natis loreet.</p>
        </li>
        <li class="last">
          <div class="imgholder"><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></div>
          <p><strong><a href="#">Atnatis dolor tincidunt nulla</a></strong></p>
          <p>Feugiatrutrum rhoncus semper enim massa eu intesque ipsum velit orci dolorem. Atnatis dolor tincidunt nulla elit auctortis laculisi elit fauctortor natis loreet.</p>
        </li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
