.search-contain { 
    display : none;
    position : absolute;
    background-color : white;
    border : 2px solid #F9CB86;
}

.search-contain td { 
    margin : 8px;
    padding : 10px;
    border : none;
}

.search-contain td:hover { 
    cursor : pointer;
}

.search-contain table { 
    border : none;
}

.single-title { 
    color : #f73;
    padding : 8px;
    border-bottom : 1px solid #F9CB86;
}

.single-number-value { 
    display : none;
}

.item .index { 
    display : none;
}

.item { 
    text-align : center;
}

.single-multi-value { 
    margin-right : 4px;
    margin-left : 8px;
}

.single-value { 
    border-bottom : solid 1px #F9CB86;
    padding-right : 8px;
    margin : 3px;
}

.single-save { 
    color : #F73;
    cursor : pointer;
    float : right;
    margin-top : 4px;
    margin-right : 6px;
    margin-bottom : 4px;
    padding : 4px;
}

.single-save:hover { 
    padding : 2px 6px 6px 2px;
}

.single-cancel { 
    color : #F73;
    cursor : pointer;
    float : right;
    margin-top : 4px;
    margin-right : 6px;
    margin-bottom : 4px;
    padding : 4px;
}

.single-cancel:hover { 
    padding : 2px 6px 6px 2px;
}

.single-remove { 
    color : red;
    cursor : default;
    padding-top : 2px;
    padding-left : 2px;
}

.single-remove:hover { 
    padding : 1px;
}
