.tilesearch-contain { float : left; overflow : hide; }
.tilesearch-second { 
    clear : both; 
    display : none; 
    float : left; 
    border : 1px solid #02ACEE;
    width : 600px;
}
.tilesearch-result { clear : both; padding : 10px;  }
.tilesearch-all { 
    display : block; 
    float : left; 
    list-style : none;
    margin : 3px; 
    padding : 3px 5px;
    cursor : pointer;
}
.tilesearch-first-item {
    display : block; 
    float : left; 
    list-style : none;
    margin : 3px; 
    padding : 3px 5px;
    cursor : pointer;
}
.tilesearch-result-save {  }
.tilesearch-result-clear {  }
.tilesearch-result-remove { padding : 3px 9px 3px 6px; }
.tilesearch-result-remove:hover { padding : 0px 12px 6px 3px; cursor : pointer }
.tilesearch-result-item {  }
.tilesearch-second-item { 
    display : block; 
    float : left;
    list-style : none;
    padding : 5px;
    margin : 5px;
    cursor : pointer;
}
.tilesearch-result-first-index { display : none; }
.tilesearch-result-save { display : none; }
.tilesearch-result-clear { display : none; }
